<h1 align="center">HistoRank<h1>
    <%= stylesheet_link_tag    'application', media: 'all' %>
<% if @figures %>
  <ul>
  <% @figures.each do |figure| %>
    <li>
      <%= link_to figure.name, figure_path(figure) %> - Average Rating: <%= @figures_with_average_rating[figure.id] %>
    </li>
  <% end %>
  </ul>
<% end %>

<p>Highest Rated - <%= @figures[0] %></p>
<p>Lowest Rated - <%= @figures[-1] %></p>
