<%= stylesheet_link_tag    'application', media: 'all' %>

<h1 align='center'>FiguRate</h1>

<h2 align="center">Historical Figure Index</h2>
<% if @figures %>
  <ul>
  <% @figures.each do |figure| %>
    <li>
      <%= link_to figure.name, figure_path(figure) %> - Average Rating: <%= @figures_with_average_rating[figure.id] %>
    </li>
  <% end %>
  </ul>
<% end %>


<% unless @figures.empty? %>
  <p>Highest Rated - <%= @figures.first.name %></p>
  <p>Lowest Rated - <%= @figures.last.name %></p>
<% end %>

<% if @figures.blank? %>
  <h4>There are no figures that match <%= params[:search] %></h4>
  <a href="http://localhost:3000/figures/new">Create a new page for this figure!</a>
<% end %>
