<%= stylesheet_link_tag    'application', media: 'all' %>

<!-- <nav class="fixed-nav-bar"> -->
  <!-- Fixed navigation bar content -->
<!-- </nav> -->
<<<<<<< HEAD
<h1 align='center'><a href="http://localhost:3000/"><font color="black">FiguRate</a></h1>
=======
>>>>>>> 5dd47aefcf98cb927fa24f99a65cb75b39aeabaf

<h2 align="center">Add a New Historical Figure</h2>
<%= form_for(@figure) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
  </div>

  <div class="field">
    <%= f.label :era %>
    <%= f.text_field :era %>
  </div>

  <div class="field">
    <%= f.label :nationality %>
    <%= f.text_field :nationality %>
  </div>

  <div class="field">
    <%= f.label :claim_to_fame, "Claim to Fame" %>
    <%= f.text_field :claim_to_fame %>
  </div>

  <div class="actions">
    <%= f.submit 'Add Historical Figure' %>
  </div>

<% end %>
