<%= stylesheet_link_tag    'application', media: 'all' %>

<!-- <nav class="fixed-nav-bar"> -->
  <!-- Fixed navigation bar content -->
<!-- </nav> -->
<h1 align='center'><a href="http://localhost:3000/">FiguRate</a></h1>

<h2 align="center"> <%= @figure.name %><h2>

<p align='center'>Occupation: <%= @figure.occupation %></p>
<p align='center'>Era: <%= @figure.era %></p>
<p align='center'>Nationality: <%= @figure.nationality %></p>
<p align='center'>Claim to fame: <%= @figure.claim_to_fame %></p>

<p align='center'>Average Rating: <%= @average_rating %></p>
<h3 align='center'>Submit a Rating</h3>

<% if @average_rating.is_a?(Numeric)%>
  <p>Average Rating: <%= @average_rating %></p>
<% end %>

<% if @current_user %>
  <h3>Submit a Rating</h3>

  <%= form_for(@rating) do |f| %>

    <div class align='center'='row'>
      <%= f.label :rating %>
      <%= f.collection_radio_buttons(:rating, @ratings_collection, :first, :last) %>
    </div>

    <div class align='center'='field'>
      <%= f.label :review, 'Review' %>
      <%= f.text_area :review %>
    </div>

    <div class align='center'='field' hidden='true'>
      <%= f.text_field :figure_id, value: @figure.id %>
    </div>

    <div class align ='center'='field' hidden='true'>
      <%= f.text_field :user_id, value: @current_user.id %>
    </div>

    <div class align='center'='actions'>
    <div class="actions">
      <%= f.submit 'Submit Rating'%>
    </div>
  <% end %>
<% end %>

<h3>Reviews<h3>
<ul>
  <% @ratings.each do |rating| %>
    <% unless rating.review.empty? %>
      <li align ='center'>
        <%= rating.review %>

        <% if @current_user %>
          <%= form_for(@vote, remote: true) do |f| %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <%= f.hidden_field :rating_id, value: rating.id %>
            <%= f.hidden_field :value, value: 1 %>
            <%= f.submit "Upvote", class: "voteButton" %>
          <% end %>

          <p class="rating" id=<%= rating.id.to_s %>></p>

          <%= form_for(@vote, remote: true) do |f| %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <%= f.hidden_field :rating_id, value: rating.id %>
            <%= f.hidden_field :value, value: -1 %>
            <%= f.submit "Downvote", class: "voteButton" %>
          <% end %>
        <% end %>

        <% if @current_user && @current_user.admin? %>
          <%= button_to 'Delete Review', rating_path(rating), { method: :delete, data: { confirm: 'Are you sure?' }} %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

  <% if @current_user && @current_user.admin? || @current_user && @current_user.id == @figure.user_id %>
    <%= button_to 'Delete Figure', @figure, { method: :delete, data: { confirm: 'Are you sure?' }} %>
    <%= button_to 'Edit Figure', edit_figure_path(@figure) %>
  <% end %>

<ul>
  <li align='center'>
    <a href="http://localhost:3000/">Back to Homepage</a>
  </li>
</ul>
