<%= stylesheet_link_tag    'application', media: 'all' %>

<div class='figureInfo'>
  <h2 class="figureHeader"> <%= @figure.name %><h2>

  <% if @figure.avatar %>
      <%= image_tag(@figure.avatar.large_avatar, id: "figureImage") %>
  <% end %>

  <p class="figureInfoItem property">Occupation</p>
  <p class="figureInfoItem value"><%= @figure.occupation %></p>
  <p class="figureInfoItem property">Era</p>
  <p class="figureInfoItem value"><%= @figure.era %></p>
  <p class="figureInfoItem property">Nationality</p>
  <p class="figureInfoItem value"><%= @figure.nationality %></p>
  <% if @average_rating.is_a?(Numeric)%>
    <p class="figureInfoItem property">Average Rating</p>
    <p class="figureInfoItem value averageRating"><%= @average_rating %></p>
  <% end %>
  <p class="figureInfoItem property">Claim to fame</p>
  <p class="figureInfoItem value claim"><%= @figure.claim_to_fame %></p>
</div>

<% if @current_user %>

  <h3 class='subheaders' id='ratingFormHeader'>Submit a Rating</h3>

  <%= form_for(@rating) do |f| %>

    <div class='ratingHeader' align='center'='row'>
      <%= f.collection_radio_buttons(:rating, @ratings_collection, :first, :last) %>
    </div>

    <div class align='center'='field'>
      <%= f.label :review, 'Review' %>
      <%= f.text_area :review %>
    </div>

    <div class align='center'='field' hidden='true'>
      <%= f.text_field :figure_id, value: @figure.id %>
    </div>

    <div class align ='center'='field' hidden='true'>
      <%= f.text_field :user_id, value: @current_user.id %>
    </div>

    <div class align='center'='actions'>
      <%= f.submit 'Submit Rating', class: 'ratingButton'%>
    </div>
  <% end %>
<% end %>


<h3 class='subheaders'>Reviews<h3>
<ul class='reviewBlock'>
  <% @ratings.each do |rating| %>
    <% unless rating.review.empty? %>
      <li align='center'>
      <div class='voteItems' align='center'>
          <span class='reviewDisplay' align='center'><%= rating.review %></span>
          <% if @current_user %>
            <div class='voteButtons'>
              <%= form_for(@vote, remote: true) do |f| %>
                <%= f.hidden_field :user_id, value: @current_user.id %>
                <%= f.hidden_field :rating_id, value: rating.id %>
                <%= f.hidden_field :value, value: 1 %>
                <%= f.button type: 'submit', name: 'commit', class: "voteButton" do %>
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <% end %>
              <% end %>

              <span class="rating" id=<%= rating.id.to_s %>></span>

              <%= form_for(@vote, remote: true) do |f| %>
                <%= f.hidden_field :user_id, value: @current_user.id %>
                <%= f.hidden_field :rating_id, value: rating.id %>
                <%= f.hidden_field :value, value: -1 %>
                <%= f.button type: 'submit', name: 'commit', class: "voteButton" do %>
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
      </div>

      <% if @current_user && @current_user.admin? %>
        <%= button_to 'Delete Review', rating_path(rating), { method: :delete, data: { confirm: 'Are you sure?' }, class:'deleteReview'} %>
      <% end %>

      </li>
    <% end %>
  <% end %>
</ul>

  <% if @current_user && @current_user.admin? || @current_user && @current_user.id == @figure.user_id %>
    <div id="showPageButtons">
      <%= button_to 'Delete Figure', @figure, { method: :delete, data: { confirm: 'Are you sure?' }, class:'figureButtons'} %>
      <%= button_to 'Edit Figure', edit_figure_path(@figure), method: :get, class:'figureButtons' %>
    </div>
  <% end %>

<ul>
  <li align='center'>
    <a href="/figures">Back to Homepage</a>
  </li>
</ul>
