<h1> <%= @figure.name %><h1>

<p>Occupation: <%= @figure.occupation %></p>
<p>Era: <%= @figure.era %></p>
<p>Nationality: <%= @figure.nationality %></p>
<p>Claim to fame: <%= @figure.claim_to_fame %></p>

<% if @average_rating.is_a?(Numeric)%>

  <p>Average Rating: <%= @average_rating %></p>
<% end %>

<% if @current_user %>
  <h3>Submit a Rating</h3>

  <%= form_for(@rating) do |f| %>

    <div class="row">
      <%= f.label :rating %>
      <%= f.collection_radio_buttons(:rating, @ratings_collection, :first, :last) %>
    </div>

    <div class="field">
      <%= f.label :review, 'Review' %>
      <%= f.text_area :review %>
    </div>

    <div class="field" hidden="true">
      <%= f.text_field :figure_id, value: @figure.id %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit Rating'%>
    </div>
  <% end %>
<% end %>

<ul>
  <% @ratings.each do |rating| %>
    <% unless rating.review.empty? %>
      <li>
        <%= rating.review %>

        <% if @current_user %>
          <%= form_for(@vote, remote: true) do |f| %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <%= f.hidden_field :rating_id, value: rating.id %>
            <%= f.hidden_field :value, value: 1 %>
            <%= f.submit "Upvote", class: "voteButton" %>
          <% end %>

          <p class="rating" id=<%= rating.id.to_s %>></p>

          <%= form_for(@vote, remote: true) do |f| %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <%= f.hidden_field :rating_id, value: rating.id %>
            <%= f.hidden_field :value, value: -1 %>
            <%= f.submit "Downvote", class: "voteButton" %>
          <% end %>
        <% end %>

        <% if @current_user && @current_user.admin? %>
          <%= button_to 'Delete Review', rating_path(rating), { method: :delete, data: { confirm: 'Are you sure?' }} %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

  <% if @current_user && @current_user.admin? %>
    <%= button_to 'Delete Figure', @figure, { method: :delete, data: { confirm: 'Are you sure?' }} %>
  <% end %>
