<%= stylesheet_link_tag    'application', media: 'all' %>

<!-- <nav class="fixed-nav-bar"> -->
  <!-- Fixed navigation bar content -->
<!-- </nav> -->

<<<<<<< HEAD
<h1 align="center"> <%= @figure.name %><h1>

<p align='center'>Occupation: <%= @figure.occupation %></p>
<p align='center'>Era: <%= @figure.era %></p>
<p align='center'>Nationality: <%= @figure.nationality %></p>
<p align='center'>Claim to fame: <%= @figure.claim_to_fame %></p>

<p align='center'>Average Rating: <%= @average_rating %></p>
<h3 align='center'>Submit a Rating</h3>
=======
<% if @average_rating.is_a?(Numeric)%>
>>>>>>> c4805076279ad3d2cbb2c8d40818afcfc4c23c0c

  <p>Average Rating: <%= @average_rating %></p>
<% end %>

<% if @current_user %>
  <h3>Submit a Rating</h3>

  <%= form_for(@rating) do |f| %>

    <div class align='center'='row'>
      <%= f.label :rating %>
      <%= f.collection_radio_buttons(:rating, @ratings_collection, :first, :last) %>
    </div>

    <div class align='center'='field'>
      <%= f.label :review, 'Review' %>
      <%= f.text_area :review %>
    </div>

    <div class align='center'='field' hidden='true'>
      <%= f.text_field :figure_id, value: @figure.id %>
    </div>

<<<<<<< HEAD
    <div class align ='center'='field' hidden='true'>
      <%= f.text_field :user_id, value: @current_user.id %>
    </div>

    <div class align='center'='actions'>
=======
    <div class="actions">
>>>>>>> c4805076279ad3d2cbb2c8d40818afcfc4c23c0c
      <%= f.submit 'Submit Rating'%>
    </div>
  <% end %>
<% end %>

<ul>
  <% @ratings.each do |rating| %>
<<<<<<< HEAD
    <li align ='center'>
      <%='Reviews'%> <br/>
      <%= rating.review %>
      <% if @current_user && @current_user.admin? %>
        <%= button_to 'Delete Review', rating_path(rating), { method: :delete, data: { confirm: 'Are you sure?' }} %>
      <% end %>
    </li>
=======
    <% unless rating.review.empty? %>
      <li>
        <%= rating.review %>
        <% if @current_user && @current_user.admin? %>
          <%= button_to 'Delete Review', rating_path(rating), { method: :delete, data: { confirm: 'Are you sure?' }} %>
        <% end %>
      </li>
    <% end %>
>>>>>>> c4805076279ad3d2cbb2c8d40818afcfc4c23c0c
  <% end %>
</ul>

  <% if @current_user && @current_user.admin? %>
    <%= button_to 'Delete Figure', @figure, { method: :delete, data: { confirm: 'Are you sure?' }} %>
  <% end %>

<ul>
  <li align='center'>
    <a href="http://localhost:3000/">Back to Homepage</a>
  </li>
</ul>
