<!DOCTYPE html>
<html>
  <head>
    <title>Group7Project</title>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png"/>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/d1a2607920.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <h3><%=value%></h3>
    <% end %>

    <nav>
      <div class="search">
        <%= form_tag(search_path, method: 'get', id: 'search-form') do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", name: nil %>
        <% end %>
      </div>
      <ul>
        <%- if user_signed_in? -%>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'Profile', user_path(current_user) %></li>
        <li><%= link_to 'Figures', figures_path %></li>
        <li><%= link_to 'Add a Figure', new_figure_path %></li>
        <%- else -%>
        <li> <%= link_to 'Sign Up', new_user_registration_path  %></li>
        <li> <%= link_to 'Sign In', new_user_session_path  %></li>
        <li><%= link_to 'Figures', figures_path %></li>
        <%- end -%>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
